<section class="faq">
    <h1 class="title">FAQ</h1>
    <ul>
        <li>
            <div class="question">如何辦理退換貨？</div>
            <div class="answer">請參考退貨服務頁面。</div>
        </li>
        <li>
            <div class="question">退款方式及退款時間？</div>
            <div class="answer">約7-8個工作天完成退款作業。</div>
        </li>
        <li>
            <div class="question">未退回的退款，是否可直接折抵新訂單？</div>
            <div class="answer">很抱歉，重新訂購時無法直接於新訂單扣抵。</div>
        </li>
        <li>
            <div class="question">發票遺失是否仍能辦理退換貨？</div>
            <div class="answer">很抱歉，需要有發票才能辦理退換貨。</div>
        </li>
        <li>
            <div class="question">什麼情況無法辦理退換貨？</div>
            <div class="answer">超過7天退貨期限，就無法辦理。</div>
        </li>
    </ul>
</section>