* {
    box-sizing: border-box;
}

.title {
    font-size: 36px;
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid #000;
    margin-bottom: 20px;
    font-weight: bold;
}

li {
    max-width: 550px;
    margin: 0 auto;
    font-size: 24px;

    &+& {
        margin-top: 20px;
    }

    .question {
        padding: 0 50px 0 10px;
        position: relative;
        color: #4fbe84;
        cursor: pointer;

        &:hover {
            background-color: #eafff4;
        }

        &::before {
            content: 'Q: ';
            font-weight: bold;
        }

        &::after {
            content: '+';
            position: absolute;
            top: -5px;
            right: 10px;
            font-size: 36px;
            width: fit-content;
            transform: rotate(0deg);
            transition: 0.5s linear;
        }
    }

    .answer {
        height: 0;
        overflow: hidden;
        background-color: #eafff4;
        padding: 0 10px;
        visibility: hidden;


        &::before {
            content: 'A: ';
            font-weight: bold;
        }
    }

    &.open .question {
        background-color: #eafff4;

        &::after {
            transform: rotate(405deg);
        }
    }
}

.slide-down {
    animation: slide-down 0.3s linear both;
}

.slide-up {
    animation: slide-up 0.3s linear both;
}

@keyframes slide-down {
    0% {
        visibility: hidden;
        height: 0;
    }

    95% {
        visibility: visible;
        height: 2rem;
    }

    100% {
        visibility: visible;
        height: auto;
    }
}

@keyframes slide-up {
    from {
        visibility: visible;
        height: 2rem;
    }

    to {
        visibility: hidden;
        height: 0;
    }
}